
body{background:#f7f7f7;}

.card-header .btn{padding:0px; line-height: 0px; color:#000;vertical-align: top;}
.card-body {
  flex: 1 1 auto;
  line-height: 20px;    padding: 0 1rem 1rem 1rem;

}
.custom-control-label{font-size: 12px !important;}
.btn-link{font-size: 16px !important; font-weight: bold;}
.d-block label{ font-size: 12px; font-weight: bold;}
.card{margin-top:15px;} label{font-size: 12px; font-weight: bold;}
.panel{background: #f3f3f3;border: 2px solid #13d6a1;} .panel-a {
  background: #f3f3f3;
  border: 2px solid #9eeabc;
  margin-top: 0px;
}
.panel-a h2{ font-size: 15px;
 
  color: #055ba9;
  font-weight: bold;}
  .panel h2 {
    font-size: 15px;
    padding: 7px 13px 0 13px;
    color: #055ba9;
    font-weight: bold;
}
.panel div{color:#20262b;}.panel-a label {
  color: #1f7fcc;
}.panel-a{ padding: 10px;}
.text-link{ color:#fff;}
.pull-right{float:right;}
.result-bg {
  background: #ebf9f0;
  padding: 15px;
  margin: 5px 0 7px;
  border: 1px solid #63d28e;
}
.list-bg {
  background: #ffffff;
  padding: 15px;
  margin: 5px 0 20px;
  border: 1px solid #d8d4ce;
  box-shadow: 0px 5px 0px #d8d8d8;
}
.brk_details_a {
  font-size: 12px !important;
    clear: both;
    display: inline-block;
    text-align: center;
    color:#2073bd;
    font-weight:bold!important;
}
.buy-now{background:#fc5846; color:#fff !important; margin-bottom:5px;margin-top: 5px; } 
a.buy-now{font-size:17px !important; font-weight: bold;}
.btn-default{background: #f0f0f0;color: #000!important;margin-bottom:5px;border: 1px solid #ccc;margin-top:5px;}
.btn-default span {
  font-size: 12px;
  font-weight: bold;
  color: #686d73;
}
.p-detail{font-size: 13px;
  padding-bottom: 0;
  margin-bottom: 4px;
  margin-top:0px;    color: #007bff;}
#sidebar-wrapper{ background:#055ba9 !important; padding-bottom: 15px;}.btn{font-size: 12px !important;}
.zerodep{color: #007bff;
  font-size: 12px;
  display: inline-block;
  width: 100%;
  font-weight: 600;}
.policyname{color: #dc6f0b;
  font-size: 12px;
  float: right;}

  .price-col strong{display: inherit;font-size: 12px !important;}
  .company_img{ text-align: center; margin-top: 20px;}
  .vpb{ font-size: 12px;}
  .na{ background: #ccc !important;}
  .pb{ display:inherit;}
@media(max-width:480px){
  a.buy-now {
    font-size: 13px !important;
    font-weight: normal;
}
.list-bg {
  background: #ffffff;
  padding: 8px;
  margin: 5px 0 17px;
  border: 1px solid #d8d4ce;
  box-shadow: 0px 5px 0px #d8d8d8;
}
}

@media(max-width:991px){
  .col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{width:100%; }
  .bg-light {
    background-color: #125ca7!important;
}
  .col-xs-12{    width: 100%;
    flex: 100% !important;
    max-width: 100%;}
  .detail{ height:auto !important;}
  .hidden-xs-down{ display: none;}
  #page-content-wrapper{margin:auto;}
  .pb{ display:inherit;}
  .col-xs-4 {
    width: 33.33333333% !important;
  }
  .addon {
    font-size: 12px;
    color: #000;
    background: #f0f0f0;
    padding: 7px;
    border: 2px solid #13d6a1;
    margin-top: 11px;}
  #sidebar-wrapper
  {display:none;}

.price-col{padding: 0;}
.col-xs-6{ width: 50% !important;}

.company_img {
  text-align: center;
  margin: auto;
  float: none;
  max-width: 100%;
  border: 1px solid #ccc;
  padding: 11px;
  margin-bottom: 5px;
 
}
.vpb{ font-size: 11px;}
.zerodep {font-size: 11px;
  font-weight: normal;
  margin-bottom: 9px;}
.zerodep span{display: inherit;}
}
.addon{border: 1px solid #b3d7f7;
  height: 81px;
  margin-top: 15px;
  background: #e7f4f7;padding: 10px;}
  .detail{background: #ffffff;
    padding: 10px;
        border: 1px solid #b3d7f7;
    height: 81px;
    margin-top: 15px;
    background: #e7f4f7;}

  .rupee_icon:before {
    content: "\e910";
    color: inherit;
    font-size: 0.78em;
}
.na{color:#999 !important;}
@media(min-width:992px) and (max-width:1199px){
  .zerodep {
    color: #007bff;
    font-size:10px;
    display: inline-block;
    width: 100%;
    font-weight: 600;
}
.brk_details_a {
  font-size: 10px !important;}

}

.lblMd{font-size: 12px;}
.btn-primary {
  color: #fc5846 !important;
  background-color: #ffffff;
  border-color: #fc5846;
}
.btn{border-radius: 0px;}
.card-header{background-color: #17a2b8!important; padding:0 15px !important; color:#fff!Important; padding: 0 !important; margin: 0 !important;}


@media(min-width:992px){.hidden-lg-down{display:none;}}
.row{display:flex !important;flex-wrap: wrap  !important;}

.modal-body h5{ padding-top: 15px;}
.wrapper{margin-top:30px;}
.calander{ font-size:15px; padding:5px;}