<div class="container-fluid" style="background:#055ba9;">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 container" >

  <h5 class="my-0 mr-md-auto font-weight-normal"><a href="#home">
		<img src="assets/quote/images/logo.png" class="img-fluid" />
	</a>
	</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 " href="#">Features</a>
    <a class="p-2 " href="#">Enterprise</a>
    <a class="p-2 " href="#">Support</a>
    <a class="p-2 " href="#">Pricing</a>
  </nav>
</div>
</div>

<div class="container-contact100 mt-40">
	<div class="wrap-contact100-new">
			<div class="row" *ngIf="showQuotedata && showPremiumdata">
				<div class="col-md-2 col-5 insurer-logo">
					<img src="assets/company_logo/{{premiumJson.COMPANY_LOGO}}">
				</div>
				<div class="col-md-4 col-7 insurer-name pull-left">
					<h5>Your Insurer</h5>
					<p>{{premiumJson.COMPANY_NAME}}</p>	<a style="font-size:12px;" [routerLink]="['/quote-compare']"><i class="fa fa-long-arrow-left m-l-7 pa" aria-hidden="true"></i><strong>Change Insurer</strong></a>
				</div>
				<div class="col-md-6 col-4 text-right pull-right your-car">
					<h5>Your Bike </h5>
					<p>{{quoteJson.bike_fullname}}</p>
				</div>
			</div>
	</div>
	<!--<div class="wrap-contact101 no-padding mt-10 hidden-lg-down" *ngIf="showPremiumdata">
		<div class="app-sidebar-section">
			<ul class="quote-settings form">
				<li class="col-md-5 col-6 pull-left key prm_n"> <span>Premium:  Rs. {{premiumJson.NET_PREMIUM}}</span> 
					<br> <span class="key gst">+ GST  (18%) Rs. {{premiumJson.SERVICE_TAX}} </span> 
				</li>
				<li class="col-md-5 col-6 pull-right"> <span class="value prm">  Total Premium Rs.{{premiumJson.TOTAL_PREMIUM}}</span> 
				</li>
			</ul>
		</div>
	</div>-->
	
	<div class="wrap-contact101 no-padding mt-10" *ngIf="showPremiumdata">
		<div class="app-sidebar-section  row">
			<ul class="quote-settings form col-md-3">
				<li class="pull-left"> <span class="key pull-left">IDV :</span>  <span class="value pull-left">Rs. {{premiumJson.IDV}}</span> 
				</li>
				<li class="pull-left pl-0"> <span class="key pull-left">Policy Tenure: </span>
					<span class="value pull-left"> 2 Year</span>
				</li>
			</ul>
			<ul class="quote-settings form col-md-4 pull-left">
				<li class="hidden-md-down"> <span class="key pull-left">Premium: </span>  <span class="value pull-left"> Rs. {{premiumJson.NET_PREMIUM}} </span> 
				</li>
				<li class="hidden-md-down"><span class="key gst pull-left">+ GST  (18%): </span><span class="value pull-left">  Rs. {{premiumJson.SERVICE_TAX}} </span> 
				</li>
			</ul>
			<ul class="quote-settings form col-md-5 pull-left">
				<li class="hidden-md-down"> <span class="value pull-left  prm">Total Premium = Rs. {{premiumJson.TOTAL_PREMIUM}} </span>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container-contact100">
	<div class="wrap-contact100-new">
		<div class="container">
			<div class="row main-tab">
				<div class="col-md-3  col-5" [ngClass]="{'active':personalDetailTab,'complete':personalDetailComplete}" id="personalDetail">Personal Detail</div>
				<div class="col-md-3  col-3" [ngClass]="{'active':carDetailTab,'complete':carDetailComplete}" id="carDetail">Bike Detail</div>
				<div class="col-md-2  col-3" [ngClass]="{'active':nomineeDetailTab,'complete':nomineeDetailComplete}" id="nomineeDetail">Nominee</div>
				<div class="col-md-3  col-12" [ngClass]="{'active':addressDetailTab,'complete':addressDetailComplete}" id="addressDetail">Address</div>
			</div>
		</div>
	</div>
	

<div class="wrap-contact100" id="personal-detail" *ngIf="personalDetailTab">
	<form class="form-horizontal" [formGroup]="personalDetailForm" (ngSubmit)="personalDetailSubmit()">
	<div class="contact100-form validate-form"> <span class="contact100-form-title text-left"> Enter Your Personal Detail </span>
		<div class="wrap-input100 validate-input regis name" data-validate="Please Type Your Full Name">
			<div class="col-md-2 col-3 pull-left no-padding">
				<select class="custom-select">
					<option>Mr.</option>
					<option>Mrs.</option>
					<option>Ms.</option>
				</select>
			</div> <span class="label-input100" style="padding-left:10px;">Enter Your full Name </span>
			<span *ngIf="(personalDetailSubmitted || f.custName.touched) && f.custName.errors" class="invalid-feedback">
				<span *ngIf="f.custName.errors.required" class="pull-left input-group formerror-msg">Enter Your full Name.</span>
			</span>
			
			<input type="text" formControlName="custName" class="input100 full-name" placeholder="Car Owner Name" />
			
		</div>
		<div class="wrap-input100  validate-input" data-validate="Sorry it's a Wrong Input"><span class="label-input100 pull-left input-group">Enter Your Date Of Birth</span>
			
			<span *ngIf="(personalDetailSubmitted) && f.custDOBDD.errors  && f.custDOBMM.errors && f.custDOBYY.errors" class="invalid-feedback">
				<span *ngIf="f.custDOBDD.errors.required" class="pull-left input-group formerror-msg">Select Your Date Of Birth.</span>
			</span>
			
			<div class="col-md-2 col-3 pull-left no-padding">
				<select class="custom-select" id="dob_dd" formControlName="custDOBDD">
					<option VALUE="">Date</option>
					<option *ngFor="let item of custDOBDD">{{item}}</option>
				</select>
			</div>
			<div class="col-md-3 col-5 pull-left no-padding">
				<select class="custom-select" id="dob_mm" formControlName="custDOBMM">
					<option value="">Month</option>
					<option *ngFor="let item of custDOBMM">{{item}}</option>
				</select>
			</div>
			<div class="col-md-3 col-3 pull-left no-padding">
				<select class="custom-select" id="dob_yy" formControlName="custDOBYY">
					<option value="">Year</option>
					<option *ngFor="let item of custDOBYY">{{item}}</option>
				</select>
			</div>
		</div>
		<div class="wrap-input100   validate-input" data-validate="Sorry it's a Wrong Input"> <span class="label-input100">Type Your Pan Card Number</span>
			<input class="input100 pan-card" type="text" formControlName="custPancard" placeholder="e.g.Abcde1234f" autocomplete="off">
			
			<span *ngIf="(personalDetailSubmitted || f.custPancard.touched) && f.custPancard.errors" class="invalid-feedback">
				<span *ngIf="f.custPancard.errors.required" class="pull-left input-group formerror-msg">Enter Your Pan Card Number.</span>
				<span *ngIf="f.custPancard.errors.pattern" class="pull-left input-group formerror-msg">Enter valid Pan Card Number.</span>
			</span>
			
		</div>
		<div class="wrap-input100  rs1-wrap-input100 validate-input" data-validate="Oops! That doesn't look like a valid number"> <span class="label-input100">Enter Your Mobile Number</span>
			<input class="input100 contact-no" type="text" formControlName="custPhone" autocomplete="off" maxlength="10" placeholder="Your 10 Digit Mobile Number">
			
			<span *ngIf="(personalDetailSubmitted || f.custPhone.touched) && f.custPhone.errors" class="invalid-feedback">
				<span *ngIf="f.custPhone.errors.required" class="pull-left input-group formerror-msg">Enter Your Mobile Number.</span>
				<span *ngIf="f.custPhone.errors.pattern" class="pull-left input-group formerror-msg">Enter Valid Mobile Number.</span>
			</span>
			
		</div>
		<div class="wrap-input100  rs1-wrap-input100 validate-input" data-validate="This is an Invalid email id"> <span class="label-input100">Enter Your Email ID</span>
			<input class="input100 email-address" style="text-transform:lowercase !important;" type="text" formControlName="custEmail" placeholder="It Should be Valid" autocomplete="off">
			
			<span *ngIf="(personalDetailSubmitted || f.custEmail.touched) && f.custEmail.errors" class="invalid-feedback">
				<span *ngIf="f.custEmail.errors.required" class="pull-left input-group formerror-msg">Enter Your Email ID.</span>
				<span *ngIf="f.custEmail.errors.pattern" class="pull-left input-group formerror-msg">Enter Valid Email ID.</span>
			</span>
		</div>
	</div>
	<div class="container-contact100-form-btn">
		<button type="submit" class="contact100-form-btn" id="perionalDetailBtn" > <span>Continue to Your Car Detail <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i> </span> 
		</button>
	</div>
	</form>
</div>


<div class="wrap-contact100" id="car-detail" *ngIf="carDetailTab">
	<form class="form-horizontal" [formGroup]="carDetailForm" (ngSubmit)="carDetailSubmit()">
	<div class="contact100-form validate-form"> <span class="contact100-form-title text-left"> Enter Your Bike Detail </span>
			<div (click)="activepersonalDetail();" class="contact100-form-title text-right back "><i class="fa fa-long-arrow-left m-l-7 pa" aria-hidden="true"></i>Back To Personal Detail</div>
			<div class="wrap-input100 validate-input input-group regis ">	<span class="input-group-addon">{{modifyRtoCode}}</span>  <span class="label-input100" style="padding-left:10px;">Enter Registration Number *</span>
				
				<input type="hidden" formControlName="rtoCode" id="RTO" value="">
				<input class="input100 registration-no" formControlName="rtoregNumber" style="padding-left:10px;" type="text" placeholder="E.g- A1234" autocomplete="off">
				
				<span *ngIf="(carDetailSubmitted || c.rtoregNumber.touched) && c.rtoregNumber.errors" class="invalid-feedback">
					<span *ngIf="c.rtoregNumber.errors.required" class="pull-left input-group formerror-msg">Enter Registration Number.</span>
				</span>
				
			</div>
			<div class="wrap-input100  rs1-wrap-input100 validate-input" > <span class="label-input100">Car Enginee Number</span>
				
				<input class="input100 engine-no" type="text" formControlName="engineNo" placeholder="Last 6 Digits" autocomplete="off">
				<span *ngIf="(carDetailSubmitted || c.engineNo.touched) && c.engineNo.errors" class="invalid-feedback">
					<span *ngIf="c.engineNo.errors.required" class="pull-left input-group formerror-msg">Enter Enginee Number</span>
					<span *ngIf="c.engineNo.errors.minlength" class="pull-left input-group formerror-msg">Enter Valid Enginee Number</span>
				</span>
				
			</div>
			<div class="wrap-input100  rs1-wrap-input100 validate-input"> <span class="label-input100">Car Chassis Number</span>
				
				<input class="input100 chassis-no" type="text" formControlName="chassisNo" placeholder="Last 6 Digits" autocomplete="off">
				<span *ngIf="(carDetailSubmitted || c.chassisNo.touched) && c.chassisNo.errors" class="invalid-feedback">
					<span *ngIf="c.chassisNo.errors.required" class="pull-left input-group formerror-msg">Enter Chassis Number</span>
					<span *ngIf="c.chassisNo.errors.minlength" class="pull-left input-group formerror-msg">Enter Valid Chassis Number</span>
				</span>
				
			</div>
			<div class="w-full">
				<div class="wrap-contact100-form-radio"> <span class="label-input100">Is Your Car On Loan?</span>
					<div class="pull-left" style="clear:both;">
						<div class="contact100-form-radio m-t-15 pull-left">
							<input class="input-radio100" id="radio1" type="radio" autocomplete="off" name="type-product" value="physical" checked="checked">
							<label class="label-radio100" for="radio1">Yes</label>
						</div>
						<div class="contact100-form-radio pull-left">
							<input class="input-radio100" id="radio2" type="radio" autocomplete="off" name="type-product" value="digital">
							<label class="label-radio100" for="radio2">No</label>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="container-contact100-form-btn">
			<button type="submit" class="contact100-form-btn" id="carDetailBtn"> <span>Continue to Address Detail <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true" ></i> </span> 
			</button>
		</div>
	</form>
</div>
<div class="wrap-contact100" id="nominee-detail" *ngIf="nomineeDetailTab">
	<form class="form-horizontal" [formGroup]="nomineeDetailForm" (ngSubmit)="nomineeDetailSubmit()">
	<div class="contact100-form validate-form"> <span class="contact100-form-title text-left"> Enter Your Nominee Detail </span>
		<div (click)="activecarDetail();" class="contact100-form-title text-right back "><i class="fa fa-long-arrow-left m-l-7 pa" aria-hidden="true"></i>Back To Bike Detail</div>
		<div class="wrap-input100  rs1-wrap-input100 validate-input" data-validate=""> <span class="label-input100">Nominee name </span>
			<input class="input100 nominee-name" type="text" formControlName="nomineeName" placeholder="Enter Full name of nominee" autocomplete="off">
			<span *ngIf="(nomineeDetailSubmitted || n.nomineeName.touched) && n.nomineeName.errors" class="invalid-feedback">
				<span *ngIf="n.nomineeName.errors.required" class="pull-left input-group formerror-msg">Enter nominee name</span>
			</span>
		</div>
		<div class="wrap-input100  rs1-wrap-input100 validate-input" data-validate="This is an Invalid email id">
			<div class="col-md-12 col-12 pull-left no-padding">	<span class="label-input100 pull-left input-group">Choose Relationship</span>
				<select formControlName="nomineeRelation" class="custom-select">
					<option>Father</option>
					<option>Mother</option>
					<option>Daughter</option>
					<option>Son</option>
					<option>Wife</option>
				</select>
			</div>
		</div>
		<div class="wrap-input100  rs1-wrap-input100 validate-input" data-validate=""> <span class="label-input100">Age</span>
			<input class="input100 nominee-age" type="text" formControlName="nomineeAge" placeholder="It Should be Valid" autocomplete="off">
			<span *ngIf="(nomineeDetailSubmitted || n.nomineeAge.touched) && n.nomineeAge.errors" class="invalid-feedback">
				<span *ngIf="n.nomineeAge.errors.required" class="pull-left input-group formerror-msg">Enter nominee age</span>
			</span>
		</div>
	</div>
	<div class="container-contact100-form-btn">
		<button type="submit" class="contact100-form-btn" id="nomineeDetailBtn"> <span>Continue to Your Car Detail <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i> </span> 
		</button>
	</div>
	</form>
</div>
<div class="wrap-contact100" id="address-detail" *ngIf="addressDetailTab">
	<form class="form-horizontal" [formGroup]="addressDetailForm" (ngSubmit)="addressDetailSubmit()">
	<div class="contact100-form validate-form"> <span class="contact100-form-title text-left"> Enter Your Address Detail </span>
		<div class="contact100-form-title text-right back " (click)="activenomineeDetail();"><i class="fa fa-long-arrow-left m-l-7 pa" aria-hidden="true"></i>Back To Nominee Detail</div>
		<div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate="Address should be minimum 10 characters"> <span class="label-input100">Communication Address</span>
			
			<textarea class="input100" formControlName="custAddress" placeholder="Enter your current address for farther communication"></textarea>
			<span *ngIf="(addressDetailSubmitted || a.custAddress.touched) && a.custAddress.errors" class="invalid-feedback">
				<span *ngIf="a.custAddress.errors.required" class="pull-left input-group formerror-msg">Enter Communication Address</span>
			</span>
		
		</div>
		<div class="wrap-input100 validate-input rs1-wrap-input100 input100-select select2-search state-list-desktop"> <span class="label-input100">Select Your State </span>
			<input type="hidden" formControlName="custStateLabel">
			<select class="custom-select" formControlName="custState" (change)="getCity($event)">
				<option value="">Please chooses</option>
				<option *ngFor="let item of stateJson" value="{{item.id}}">{{item.sname}}</option>
			</select>
			<span *ngIf="(addressDetailSubmitted || a.custState.touched) && a.custState.errors" class="invalid-feedback">
				<span *ngIf="a.custState.errors.required" class="pull-left input-group formerror-msg">Select your state</span>
			</span>
		</div>
		
		<div class="wrap-input100 rs1-wrap-input100 input100-select select2-search city-list-desktop"> <span class="label-input100">Select Your City </span>
			<input type="hidden" formControlName="custCityLabel">
			<select class="custom-select" formControlName="custCity" (change)="cityChanged($event)">
				<option value="">Please chooses</option>
				<option *ngFor="let item of filtercityJson" value="{{item.city_id}}">{{item.city_name}}</option>
			</select>
			<span *ngIf="(addressDetailSubmitted || a.custCity.touched) && a.custCity.errors" class="invalid-feedback">
				<span *ngIf="a.custCity.errors.required" class="pull-left input-group formerror-msg">Select your city</span>
			</span>
		</div>
		
		<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Pincode in Invalid"> <span class="label-input100">Enter Your Pincode </span>
			<input class="input100" type="text" formControlName="custPincode" placeholder="Should be 5 Digits" autocomplete="off">
			<span *ngIf="(addressDetailSubmitted || a.custPincode.touched) && a.custPincode.errors" class="invalid-feedback">
				<span *ngIf="a.custPincode.errors.required" class="pull-left input-group formerror-msg">Enter Your Pincode</span>
				<span *ngIf="a.custPincode.errors.pattern" class="pull-left input-group formerror-msg">Enter valid Pincode</span>
			</span>
		</div>
	</div>
	<div class="container-contact100-form-btn">
		<button class="contact100-form-btn" type="submit" id="addressDetailBtn"> <span>Submit Proposal <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i> </span> 
		</button>
	</div>
	</form>
</div>
<footer class="footer hide-me" id="footer_area">
	<div class="footer_bottom">
		<div class="container">
			<p class="text_btnftr">©Copyright 2014 - till now| <a href="https://www.gibl.in" style="color: rgb(108, 108, 108) ! important;
						text-decoration: underline;">www.gibl.in</a> | All Rights Reserved | Insurance is the subject matter of solicitation.
				<br>IRDA License Code No : DB 482/10 Dated 27-05-2016 valid till 26-05-2019, Direct(Non-Life) | Principal Officer : Mr. Sahid Ali | Ph: 033 - 66074257
				<br>
			</p>
			<p class="text_btnftr_new">Regd. &amp; Corp. Office : GreenLife Insurance Broking Pvt. Ltd., A-4/B, 1st Floor, Rishi Tech Park, Near Unitech, New Town, Kolkata-700156, West Bengal, India</p>
			<p class="text_btnftr_new">Designed &amp; Developed By : e-Celtic</p>
		</div>
	</div>
</footer>
