<div class="container-fluid" style="background:#055ba9;" >
	<div class="row">
		<div class="">
			<nav class="navbar navbar-dark bg-primary navbar-full ">
				<div class="container">
					<div class="navbar-header"> <a class="navbar-brand" href="#home"><img src="assets/quote/images/logo.png" class="img-fluid"/></a> </div>
					<div class="pull-md-left text-xs-center">
						<ul class="nav navbar-nav">
							<li class="nav-item hidden-md-down"><a class="nav-link">Two wheeler Insurance</a></li>
							<div class="desk" style=" float:right;">
								<div class="dropdown">
									<button class="dropbtn">INSURANCE TYPE<i class="fa fa-sort-desc" style="padding-left:5px;"></i></button>
									<div class="dropdown-content">
										<li><a href="https://www.gibl.in/car-insurance/">Car Insurance</a></li>
										<li><a href="https://www.gibl.in/health-insurance/">Health Insurance</a></li>
										<li><a href="https://www.gibl.in/two-wheeler-insurance/">Two Wheeler Insurance</a></li>
										<li><a href="https://www.gibl.in/travel-insurance/">Travel Insurance</a></li>
										<li><a href="https://www.gibl.in/personal-accident-insurance/">Personal Accident Insurance</a></li>
										<li><a href="https://www.gibl.in/home-insurance/">Home Insurance</a></li>
										<li><a href="https://www.gibl.in/commercial-vehicle-insurance/">Commercial Vehicle Insurance</a></li>
										<li><a href="https://www.gibl.in/health-insurance/group-mediclaim-policy/">Group Insurance</a></li>
										<li><a href="https://www.gibl.in/health-insurance/critical-illness-insurance/">Critical Illness Insurance</a></li>
										<li><a href="https://www.gibl.in/gadget-insurance/">Gadget Insurance</a></li>
										<li class="divider"></li>
									</div>
								</div>
								<div class="dropdown">
									<button class="dropbtn">Insurance Company
									<i class="fa fa-sort-desc" style="padding-left:5px;"></i></button>
									<div class="dropdown-content">
										<li><a href="https://www.gibl.in/national-insurance/">National Insurance</a></li>
										<li><a href="https://www.gibl.in/new-india-assurance/">New India Assurance</a></li>
										<li><a href="https://www.gibl.in/united-india-insurance-uiic/">United India Insurance</a></li>
										<li><a href="https://www.gibl.in/hdfc-ergo-insurance/">HDFC ERGO General Insurance</a></li>
										<li><a href="https://www.gibl.in/star-health-insurance/">Star Health Insurance</a></li>
										<li><a href="https://www.gibl.in/oriental-insurance/">Oriental Insurance</a></li>
										<li><a href="https://www.gibl.in/bajaj-allianz-insurance/">Bajaj Allianz General Insurance</a></li>
										<li><a href="https://www.gibl.in/iffco-tokio-insurance.html">Iffco Tokio General Insurance</a></li>
										<li><a href="https://www.gibl.in/sbi-general-insurance/">SBI General Insurance</a></li>
										<li><a href="https://www.gibl.in/max-bupa-insurance/">MaxBupa Health insurance</a></li>
										<li><a href="https://www.gibl.in/apollo-munich-insurance/">Apollo Munich Health Insurance</a></li>
										<li><a href="https://www.gibl.in/bharti-axa-insurance.html">Bharti AXA General Insurance</a></li>
										<li><a href="https://www.gibl.in/tata-aig-insurance/">Tata AIG Greneral Insurance</a></li>
										<li><a href="https://www.gibl.in/universal-sompo-insurance/">Universal Sompo General Insurance </a></li>
										<li class="divider"></li>
									</div>
									<div class="dropdown-content">
										<li><a href="https://www.gibl.in/national-insurance/">National Insurance</a></li>
										<li><a href="https://www.gibl.in/new-india-assurance/">New India Assurance</a></li>
										<li><a href="https://www.gibl.in/united-india-insurance-uiic/">United India Insurance</a></li>
										<li><a href="https://www.gibl.in/hdfc-ergo-insurance/">HDFC ERGO General Insurance</a></li>
										<li><a href="https://www.gibl.in/star-health-insurance/">Star Health Insurance</a></li>
										<li><a href="https://www.gibl.in/oriental-insurance/">Oriental Insurance</a></li>
										<li><a href="https://www.gibl.in/bajaj-allianz-insurance/">Bajaj Allianz General Insurance</a></li>
										<li><a href="https://www.gibl.in/iffco-tokio-insurance.html">Iffco Tokio General Insurance</a></li>
										<li><a href="https://www.gibl.in/sbi-general-insurance/">SBI General Insurance</a></li>
										<li><a href="https://www.gibl.in/max-bupa-insurance/">MaxBupa Health insurance</a></li>
										<li><a href="https://www.gibl.in/apollo-munich-insurance/">Apollo Munich Health Insurance</a></li>
										<li><a href="https://www.gibl.in/bharti-axa-insurance.html">Bharti AXA General Insurance</a></li>
										<li><a href="https://www.gibl.in/tata-aig-insurance/">Tata AIG Greneral Insurance</a></li>
										<li><a href="https://www.gibl.in/universal-sompo-insurance/">Universal Sompo General Insurance </a></li>
										<li class="divider"></li>
									</div>
									<div class="dropdown-content">
										<li><a href="https://www.gibl.in/national-insurance/">National Insurance</a></li>
										<li><a href="https://www.gibl.in/new-india-assurance/">New India Assurance</a></li>
										<li><a href="https://www.gibl.in/united-india-insurance-uiic/">United India Insurance</a></li>
										<li><a href="https://www.gibl.in/hdfc-ergo-insurance/">HDFC ERGO General Insurance</a></li>
										<li><a href="https://www.gibl.in/star-health-insurance/">Star Health Insurance</a></li>
										<li><a href="https://www.gibl.in/oriental-insurance/">Oriental Insurance</a></li>
										<li><a href="https://www.gibl.in/bajaj-allianz-insurance/">Bajaj Allianz General Insurance</a></li>
										<li><a href="https://www.gibl.in/iffco-tokio-insurance.html">Iffco Tokio General Insurance</a></li>
										<li><a href="https://www.gibl.in/sbi-general-insurance/">SBI General Insurance</a></li>
										<li><a href="https://www.gibl.in/max-bupa-insurance/">MaxBupa Health insurance</a></li>
										<li><a href="https://www.gibl.in/apollo-munich-insurance/">Apollo Munich Health Insurance</a></li>
										<li><a href="https://www.gibl.in/bharti-axa-insurance.html">Bharti AXA General Insurance</a></li>
										<li><a href="https://www.gibl.in/tata-aig-insurance/">Tata AIG Greneral Insurance</a></li>
										<li><a href="https://www.gibl.in/universal-sompo-insurance/">Universal Sompo General Insurance </a></li>
										<li class="divider"></li>
									</div>
								</div>
								<div class="dropdown">
									<button class="dropbtn">Support
									</button>
								</div>
								<div class="dropdown">
									<button class="dropbtn">Login
									</button>
								</div>
								<div class="dropdown">
									<button class="dropbtn">Register
									</button>
								</div>
							</div>
							<div class="mob">
								<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" style="color:#fff; float:right;"> <i class="fa fa-bars" aria-hidden="true"></i></button>
								<div id="demo" class="collapse">
									<div class="dropdown mob_dropdown">
										<button class="dropbtn">INSURANCE TYPE<i class="fa fa-sort-desc" style="padding-left:5px;"></i></button>
										<div class="dropdown-content">
											<li><a href="https://www.gibl.in/car-insurance/">Car Insurance</a></li>
											<li><a href="https://www.gibl.in/health-insurance/">Health Insurance</a></li>
											<li><a href="https://www.gibl.in/two-wheeler-insurance/">Two Wheeler Insurance</a></li>
											<li><a href="https://www.gibl.in/travel-insurance/">Travel Insurance</a></li>
											<li><a href="https://www.gibl.in/personal-accident-insurance/">Personal Accident Insurance</a></li>
											<li><a href="https://www.gibl.in/home-insurance/">Home Insurance</a></li>
											<li><a href="https://www.gibl.in/commercial-vehicle-insurance/">Commercial Vehicle Insurance</a></li>
											<li><a href="https://www.gibl.in/health-insurance/group-mediclaim-policy/">Group Insurance</a></li>
											<li><a href="https://www.gibl.in/health-insurance/critical-illness-insurance/">Critical Illness Insurance</a></li>
											<li><a href="https://www.gibl.in/gadget-insurance/">Gadget Insurance</a></li>
											<li class="divider"></li>
										</div>
									</div>
									<div class="dropdown mob_dropdown">
										<button class="dropbtn">Insurance Company
										<i class="fa fa-sort-desc" style="padding-left:5px;"></i></button>
										<div class="dropdown-content">
											<li><a href="https://www.gibl.in/national-insurance/">National Insurance</a></li>
											<li><a href="https://www.gibl.in/new-india-assurance/">New India Assurance</a></li>
											<li><a href="https://www.gibl.in/united-india-insurance-uiic/">United India Insurance</a></li>
											<li><a href="https://www.gibl.in/hdfc-ergo-insurance/">HDFC ERGO General Insurance</a></li>
											<li><a href="https://www.gibl.in/star-health-insurance/">Star Health Insurance</a></li>
											<li><a href="https://www.gibl.in/oriental-insurance/">Oriental Insurance</a></li>
											<li><a href="https://www.gibl.in/bajaj-allianz-insurance/">Bajaj Allianz General Insurance</a></li>
											<li><a href="https://www.gibl.in/iffco-tokio-insurance.html">Iffco Tokio General Insurance</a></li>
											<li><a href="https://www.gibl.in/sbi-general-insurance/">SBI General Insurance</a></li>
											<li><a href="https://www.gibl.in/max-bupa-insurance/">MaxBupa Health insurance</a></li>
											<li><a href="https://www.gibl.in/apollo-munich-insurance/">Apollo Munich Health Insurance</a></li>
											<li><a href="https://www.gibl.in/bharti-axa-insurance.html">Bharti AXA General Insurance</a></li>
											<li><a href="https://www.gibl.in/tata-aig-insurance/">Tata AIG Greneral Insurance</a></li>
											<li><a href="https://www.gibl.in/universal-sompo-insurance/">Universal Sompo General Insurance </a></li>
											<li class="divider"></li>
										</div>
										<div class="dropdown-content">
											<li><a href="https://www.gibl.in/national-insurance/">National Insurance</a></li>
											<li><a href="https://www.gibl.in/new-india-assurance/">New India Assurance</a></li>
											<li><a href="https://www.gibl.in/united-india-insurance-uiic/">United India Insurance</a></li>
											<li><a href="https://www.gibl.in/hdfc-ergo-insurance/">HDFC ERGO General Insurance</a></li>
											<li><a href="https://www.gibl.in/star-health-insurance/">Star Health Insurance</a></li>
											<li><a href="https://www.gibl.in/oriental-insurance/">Oriental Insurance</a></li>
											<li><a href="https://www.gibl.in/bajaj-allianz-insurance/">Bajaj Allianz General Insurance</a></li>
											<li><a href="https://www.gibl.in/iffco-tokio-insurance.html">Iffco Tokio General Insurance</a></li>
											<li><a href="https://www.gibl.in/sbi-general-insurance/">SBI General Insurance</a></li>
											<li><a href="https://www.gibl.in/max-bupa-insurance/">MaxBupa Health insurance</a></li>
											<li><a href="https://www.gibl.in/apollo-munich-insurance/">Apollo Munich Health Insurance</a></li>
											<li><a href="https://www.gibl.in/bharti-axa-insurance.html">Bharti AXA General Insurance</a></li>
											<li><a href="https://www.gibl.in/tata-aig-insurance/">Tata AIG Greneral Insurance</a></li>
											<li><a href="https://www.gibl.in/universal-sompo-insurance/">Universal Sompo General Insurance </a></li>
											<li class="divider"></li>
										</div>
										<div class="dropdown-content">
											<li><a href="https://www.gibl.in/national-insurance/">National Insurance</a></li>
											<li><a href="https://www.gibl.in/new-india-assurance/">New India Assurance</a></li>
											<li><a href="https://www.gibl.in/united-india-insurance-uiic/">United India Insurance</a></li>
											<li><a href="https://www.gibl.in/hdfc-ergo-insurance/">HDFC ERGO General Insurance</a></li>
											<li><a href="https://www.gibl.in/star-health-insurance/">Star Health Insurance</a></li>
											<li><a href="https://www.gibl.in/oriental-insurance/">Oriental Insurance</a></li>
											<li><a href="https://www.gibl.in/bajaj-allianz-insurance/">Bajaj Allianz General Insurance</a></li>
											<li><a href="https://www.gibl.in/iffco-tokio-insurance.html">Iffco Tokio General Insurance</a></li>
											<li><a href="https://www.gibl.in/sbi-general-insurance/">SBI General Insurance</a></li>
											<li><a href="https://www.gibl.in/max-bupa-insurance/">MaxBupa Health insurance</a></li>
											<li><a href="https://www.gibl.in/apollo-munich-insurance/">Apollo Munich Health Insurance</a></li>
											<li><a href="https://www.gibl.in/bharti-axa-insurance.html">Bharti AXA General Insurance</a></li>
											<li><a href="https://www.gibl.in/tata-aig-insurance/">Tata AIG Greneral Insurance</a></li>
											<li><a href="https://www.gibl.in/universal-sompo-insurance/">Universal Sompo General Insurance </a></li>
											<li class="divider"></li>
										</div>
									</div>
									<div class="dropdown mob_dropdown">
										<button class="dropbtn">Support
										</button>
									</div>
									<div class="dropdown mob_dropdown">
										<button class="dropbtn">Login
										</button>
									</div>
									<div class="dropdown mob_dropdown">
										<button class="dropbtn">Register
										</button>
									</div>
								</div>
							</div>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>

<form id="quoteForm" [formGroup]="quoteForm" (ngSubmit)="quoteSubmit()">
	<div class="bd-example container">
		<ngb-carousel  [showNavigationIndicators]="false" [showNavigationArrows]="false" #myCarousel="ngbCarousel" [interval]="0">
			<ng-template ngbSlide id="1">
					<div class="carousel-caption radio col-md-6 col-xs-12 no-float">
						<div class="col-md-12 hidden-xs-down hidden-md-down">
							<h3 class="motor_banner_h3">Get Covarage Of 5 Lacs For<br/><span>Motor At Just Rs.11/day</span></h3>
						</div>
						<div class="no-float radio-div">
							<div class="col-md-12 col-xs-12 no-float no-padding m-top ">
								<input (click)="premiumType('1');" class="input-radio100" id="radio1" type="radio" autocomplete="off" name="is_renewal" value="1" checked="checked">
								<label class="label-radio100 col-md-4 col-sm-5  col-xs-4 pull-left" for="radio1" style="text-align:left;"> Renewal</label>
								
								<input (click)="premiumType('0');" class="input-radio100" id="radio2" type="radio" autocomplete="off" name="is_renewal" value="0">
								<label class="label-radio100 col-md-8 col-sm-8 col-xs-8 pull-left text-left" style="text-align:left;" for="radio2">I've bought a new car</label>
							</div>
						</div>
					</div>
					<div class="wrap-contact100 col-md-6  col-xs-12 no-float pull-right " id="brand">
						<div class="col-md-12">
							<div class="carousel-caption col-xs-12 no-float">
								<h3>What's the brand of your car?</h3>
							</div>
						</div>
						<div class="row main-tab">
							<div class="col-md-12 col-xs-12 no-padding">
								<div class="brand-tab col-md-2  col-xs-2 tab-member active" id="brand-tab">{{brandText}}</div>
								<div class="model-tab col-md-2  col-xs-2 tab-member" id="model-tab">{{modelText}}</div>
								<div class="fuel-tab col-md-2  col-xs-2 tab-member" id="fuel-tab">{{fuelText}}</div>
								<div class="variant-tab col-md-2  col-xs-2 tab-member" id="variant-tab">{{variantText}}</div>
								<div class="registration-tab col-md-3  col-xs-2 tab-member" id="registration-tab">{{registrationText}}</div>
							</div>
						</div>
						<div class="need-to-select" id="brand_error_msg"></div>
						<div id="brand-input-container">
							<div class="wrap-input col-md-10 input100-select financer-desktop no-padding" *ngIf="!isMobile">
								<select2 [data]="totalBrandList" [cssImport]=true (valueChanged)="brandChanged($event.value)"></select2>
								<div class="dropDownSelect2"></div>
							</div>
							<div class="wrap-input100 input100-select financer-mobile" *ngIf="isMobile">
								<span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
								<input class="select-mobile" id="brand-select-mobile" (click)="open(makeContent)"  placeholder="Not in the list? Find your car">
								<ng-template #makeContent let-modal>
									<div class="modal-body" style="width:100%;height:100%;">
									<span class="close-gb" aria-hidden="true" (click)="modal.dismiss('Cross click')">&times;</span>
									<h5>What's the brand of your car?</h5>
									<select2 [data]="totalBrandList" [cssImport]=true (valueChanged)="brandChanged($event.value);modal.dismiss('Cross click')"></select2>
									<div class="dropDownSelect2"></div>
									</div>
								</ng-template>
							</div>
							<div class="good-make" id="top-brand">
								<div class='good-make__item' *ngFor="let item of topBrandList" id="brand_{{item.brand_code}}" (click)="brandTapped($event,item.brand_name,item.brand_code)">
								<div class='good-make-wrap'>
									<img src='assets/quote/images/logo/{{item.brand_logo}}' alt='{{item.brand_name}}'>
									<div>{{item.brand_name}}</div>
								</div>
							</div>
						</div>
					</div>
					<div id="brand-loader" style="text-align: center;"><img style="width: 337px;height: 81px; display:none;" src="assets/quote/images/load.gif"></div>
				</div>
			</ng-template>
			<ng-template ngbSlide id="2">
				<div class="col-lg-6 hidden-xs-down hidden-md-down">
					<h3 class="motor_banner_h3">Get Covarage Of 5 Lacs For<br/><span>Motor At Just Rs.11/day</span></h3>
					<h4 class="motor_banner_h4">Super Topup</h4>
					<p class="motor_banner_p">Upgrade your existing policy cover by Rs. 10 Lakhs<br/> for premium as low as Rs. 878!</p>
				</div>
				<div class="wrap-contact100 col-md-6  col-xs-12 no-float pull-right" id="model" >
					<div class="col-md-12">
						<div class="carousel-caption col-md-12 col-xs-12 no-float">
							<p class="pull-left">
								<i class="fa fa-long-arrow-left" (click)="myCarousel.prev()"></i> <span class="question" style="display:none;">What is your car’s brand?</span>
								<i class="fa fa-long-arrow-right" (click)="myCarousel.next()"></i> 
							</p>
							<h3>What is your car’s model?</h3>
						</div>
					</div>
						<div class="row main-tab">
							<div class="col-md-12 col-xs-12 no-padding">
								
								<div (click)="goToTab('1')" class="brand-tab col-md-2  col-xs-2 tab-member complete" id="brand-tab" >{{brandText}}</div>
								<div class="model-tab col-md-2  col-xs-2 tab-member active" id="model-tab">{{modelText}}</div>
								<div class="fuel-tab col-md-2  col-xs-2 tab-member" id="fuel-tab">{{fuelText}}</div>
								<div class="variant-tab col-md-2  col-xs-2 tab-member" id="variant-tab">{{variantText}}</div>
								<div class="registration-tab col-md-2  col-xs-2 tab-member" id="registration-tab">{{registrationText}}</div>
							</div>
						</div>
						<div class="need-to-select" id="model_error_msg"></div>
						<div class="wrap-input col-md-10 input100-select financer-desktop no-padding" *ngIf="!isMobile">
							<select2 [data]="totalModelList" [cssImport]=true (valueChanged)="modelTapped($event,$event.data[0].text,$event.value)"></select2>
							<div class="dropDownSelect2"></div>
						</div>
						<div class="wrap-input100 input100-select financer-mobile" *ngIf="isMobile">
							<span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
							
							<input class="select-mobile" id="model-select-mobile" (click)="open(modelContent)" value="{{modelText}}" placeholder="Not in the list? Find your model here">
							
							<ng-template #modelContent let-modal>
								<span class="close-gb" aria-hidden="true" (click)="modal.dismiss('Cross click')">&times;</span>
								<div class="modal-body">
								<h5>What's the model of your car?</h5>
								<select2 [data]="totalModelList" [cssImport]=true (valueChanged)="modelTapped($event,$event.data[0].text,$event.value);modal.dismiss('Cross click')"></select2>
								<div class="dropDownSelect2"></div>
								</div>
							</ng-template>
							
						</div>
						<div class="good-make" id="top-model">
							<div class='top-model__item' *ngFor="let item of topModelList" (click)="modelTapped($event,item.model_name,item.model_code)">
							<div class='good-make-wrap'>
								<div>{{item.model_name}}</div>
							</div>
						</div>
					</div>
				</div>
			</ng-template>
			<ng-template ngbSlide id="3">
				<div class="col-lg-6 hidden-xs-down hidden-md-down">
					<h3 class="motor_banner_h3">Get Covarage Of 5 Lacs For<br/><span>Motor At Just Rs.11/day</span></h3>
					<h4 class="motor_banner_h4">Super Topup</h4>
					<p class="motor_banner_p">Upgrade your existing policy cover by Rs. 10 Lakhs<br/> for premium as low as Rs. 878!</p>
				</div>
				<div class="wrap-contact100 col-md-6  col-xs-12 no-float pull-right" id="fuel">
						<div class="carousel-caption col-md-12  col-xs-12 no-float">
							<p class="slide-nav pull-left">
								<i class="fa fa-long-arrow-left" (click)="myCarousel.prev()"></i>
								<span class="question">What's your car's model?</span>
								<i class="fa fa-long-arrow-right" (click)="myCarousel.next()"></i>
							</p>
							<h3>What's type of fuel ?</h3>
						</div>
						<div class="row main-tab">
							<div class="col-md-12 col-xs-12 no-padding">
								<div (click)="goToTab('1')" class="brand-tab col-md-2  col-xs-2 tab-member complete" id="brand-tab" (click)="goToTab('0');">{{brandText}}</div>
								<div (click)="goToTab('2')" class="model-tab col-md-2  col-xs-2 tab-member complete" id="model-tab" (click)="goToTab('1');">{{modelText}}</div>
								<div class="fuel-tab col-md-2  col-xs-2 tab-member active" id="fuel-tab">{{fuelText}}</div>
								<div class="variant-tab col-md-2  col-xs-2 tab-member" id="variant-tab">{{variantText}}</div>
								<div class="registration-tab col-md-2  col-xs-2 tab-member" id="registration-tab">{{registrationText}}</div>
							</div>
						</div>
						<div class="need-to-select" id="fuel_error_msg"></div>
						<div class="good-make"  id="top-fuel" >
							<div style="margin-top:25px !important;" class="good-make__item good-make__item_padding" *ngFor="let item of totalFuelList" (click)="fuelTapped($event,item.fuel_type_text,item.fuel_type,item.model_code)">
							<div class="good-make-wrap">
								<img src="assets/quote/images/{{item.fuel_logo}}" alt="Chevrolet" >
								<div>{{item.fuel_type_text}}</div>
							</div>
						</div>
					</div>
				</div>
			</ng-template>
			<ng-template ngbSlide id="4">
				<div class="col-lg-6 hidden-xs-down hidden-md-down">
							<h3 class="motor_banner_h3">Get Covarage Of 5 Lacs For<br/><span>Motor At Just Rs.11/day</span></h3>								
							<h4 class="motor_banner_h4">Super Topup</h4>
							<p class="motor_banner_p">Upgrade your existing policy cover by Rs. 10 Lakhs<br/> for premium as low as Rs. 878!</p>
						
							
					</div>
				<div class="wrap-contact100 col-md-6  col-xs-12 no-float pull-right" id="variant">
				<div class="carousel-caption col-md-12  col-xs-12 no-float">
					<p class="slide-nav pull-left">
					<i class="fa fa-long-arrow-left" (click)="myCarousel.prev()"></i>
					<span class="question">What's the fuel type?</span>
					<i class="fa fa-long-arrow-right" (click)="myCarousel.next()"></i>
					</p>
					<h3>What's your car's variant?</h3>
				</div>
					<div class="row main-tab">
						<div class="col-md-12 col-xs-12 no-padding">
							<div (click)="goToTab('1')" class="brand-tab col-md-2  col-xs-2 tab-member complete" id="brand-tab">{{brandText}}</div>
							<div (click)="goToTab('2')" class="model-tab col-md-2  col-xs-2 tab-member complete" id="model-tab">{{modelText}}</div>
							<div (click)="goToTab('3')" class="fuel-tab col-md-2  col-xs-2 tab-member complete" id="fuel-tab">{{fuelText}}</div>
							<div class="variant-tab col-md-2  col-xs-2 tab-member active" id="variant-tab">{{variantText}}</div>
							<div class="registration-tab col-md-2  col-xs-2 tab-member" id="registration-tab">{{registrationText}}</div>
							
						</div>
					</div>
					<div class="need-to-select" id="variant_error_msg"></div>
					<div class="wrap-input col-md-10 input100-select financer-desktop no-padding">
						<select2 [data]="totalVariantList" [cssImport]=true (valueChanged)="variantTapped($event,$event.value)"></select2>
						<div class="dropDownSelect2"></div>
						
					</div>
					<div class="wrap-input100 input100-select financer-mobile "> <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
						<input class="select-mobile" id="variant-select-mobile" (click)="open(variantContent)" value="{{variantText}}" placeholder="Not in the list? Find your car's variant here">
						
						<ng-template #variantContent let-modal>
							<span class="close-gb" aria-hidden="true" (click)="modal.dismiss('Cross click')">&times;</span>
							<div class="modal-body">
							<h5>What's the model of your car?</h5>
							<select2 [data]="totalVariantList" [cssImport]=true (valueChanged)="variantTapped($event,$event.value);modal.dismiss('Cross click')"></select2>
							<div class="dropDownSelect2"></div>
							</div>
						</ng-template>
					</div>
					<div class="good-make" id="top-variant">
						<div class='top-model__item' *ngFor="let item of topVariantList" (click)="variantTapped($event,item.id)">
							<div class='good-make-wrap'>
								<div>{{item.variant_name}}</div>
							</div>
						</div>
					</div>
				</div>
			</ng-template>
			<ng-template ngbSlide id="5">
				<div class="col-lg-6 hidden-xs-down hidden-md-down">
							<h3 class="motor_banner_h3">Get Covarage Of 5 Lacs For<br/><span>Motor At Just Rs.11/day</span></h3>								
							<h4 class="motor_banner_h4">Super Topup</h4>
							<p class="motor_banner_p">Upgrade your existing policy cover by Rs. 10 Lakhs<br/> for premium as low as Rs. 878!</p>
						
							
					</div>
				<div class="wrap-contact100 col-md-6 col-xs-12 no-float pull-right" id="registration">
				<div class="carousel-caption col-md-12 col-xs-12 no-float">
					<p class="slide-nav pull-left">
					<i class="fa fa-long-arrow-left" (click)="myCarousel.prev()"></i>
					<span class="question">What's the varient?</span>
					<i class="fa fa-long-arrow-right" (click)="myCarousel.next()"></i>
					</p>
					<h3>What is your car registration location?</h3>
				</div>
					<div class="row main-tab">
						<div class="col-md-12 col-xs-12 no-padding">
							<div (click)="goToTab('1')" class="brand-tab col-md-2  col-xs-2 tab-member complete" id="brand-tab">{{brandText}}</div>
							<div (click)="goToTab('2')" class="model-tab col-md-2  col-xs-2 tab-member complete" id="model-tab">{{modelText}}</div>
							<div (click)="goToTab('3')" class="fuel-tab col-md-2  col-xs-2 tab-member complete" id="fuel-tab">{{fuelText}}</div>
							<div (click)="goToTab('4')" class="variant-tab col-md-2  col-xs-2 tab-member complete" id="variant-tab">{{variantText}}</div>
							<div class="registration-tab col-md-3  col-xs-2 tab-member active" id="registration-tab">{{registrationText}}</div>
							
						</div>
					</div>
					<div class="need-to-select" id="registration_error_msg"></div>
					<div class="wrap-input col-md-10 input100-select financer-desktop no-padding" *ngIf="!isMobile">
						<select2 #photoInput [data]="totalRTOList" [cssImport]=true  (valueChanged)="rtoTapped($event,$event.data[0].text,$event.value)" (open)="rtoTapped($event,$event.data[0].text,$event.value)"></select2>
					</div>
					<div class="wrap-input100 input100-select financer-mobile" *ngIf="isMobile">
						<span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
						
						<input class="select-mobile" id="rto-select-mobile" (click)="open(rtoContent)" placeholder="Not in the list? Find your rto here">
						
						<ng-template #rtoContent let-modal>
							<span class="close-gb" aria-hidden="true" (click)="modal.dismiss('Cross click')">&times;</span>
							<div class="modal-body">
							<h5>Where is the car registered?</h5>
							
							<select2 [data]="totalRTOList" [cssImport]=true (valueChanged)="rtoTapped($event,$event.data[0].text,$event.value);modal.dismiss('Cross click')"></select2>
							
							<div class="dropDownSelect2"></div>
							</div>
						</ng-template>
					</div>
					<div class="good-make">
						<div class="top-model__item" data-text="Delhi" (click)="filterRTO('5209');">
							<div class="good-make-wrap">
								<div>Delhi</div>
							</div>
						</div>
						<div class="top-model__item" data-text="Kolkata" (click)="filterRTO('2526')">
							<div class="good-make-wrap">
								<div>Kolkata</div>
							</div>
						</div>
						<div class="top-model__item" data-text="Mumbai" (click)="filterRTO('3371')">
							<div class="good-make-wrap">
								<div>Mumbai</div>
							</div>
						</div>
						<div class="top-model__item" data-text="Bangalore" (click)="filterRTO('5278')">
							<div class="good-make-wrap">
								<div>Bangalore</div>
							</div>
						</div>
						<div class="top-model__item" data-text="Hyedrabad" (click)="filterRTO('1818')">
							<div class="good-make-wrap">
								<div>Hyedrabad</div>
							</div>
						</div>
						<div class="top-model__item" data-text="Shimla" (click)="filterRTO('4395')">
							<div class="good-make-wrap">
								<div>Shimla</div>
							</div>
						</div>
						<div class="top-model__item" data-text="Pune" (click)="filterRTO('3873')">
							<div class="good-make-wrap">
								<div>Pune</div>
							</div>
						</div>
						<div class="top-model__item" data-text="Chandigarh" (click)="filterRTO('931')">
							<div class="good-make-wrap">
								<div>Chandigarh</div>
							</div>
						</div>
						<div class="top-model__item" data-text="Chennai" (click)="filterRTO('988')">
							<div class="good-make-wrap">
								<div>Chennai</div>
							</div>
						</div>
					</div>
					<p class="p-qes text-center" style="text-align:center !important;" [ngStyle]="{'display':isRenewal==false ? 'none' : '' }">What is the year Of registration?</p>
					<div class="wrap-input col-md-10 input100-select financer-desktop no-padding" [ngStyle]="{'display':isRenewal==false ? 'none' : '' }">
						
						<select class="custom-select no-padding" formControlName="regYear" style="width: 98%;" (change)="regYearTapped($event,$event.target.value)">
							<option value="">Find your year Of registration here</option>
							<option *ngFor="let item of regYearDropdown">{{item}}</option>
						</select>
						<span *ngIf="(quoteSubmitted || f.regYear.touched) && f.regYear.errors" class="invalid-feedback" style="padding:10px;">
							<span *ngIf="f.regYear.errors.required" class="pull-left input-group formerror-msg">Select registration Year</span>
						</span>
					</div>
				</div>
			</ng-template>
			<ng-template ngbSlide id="6">
				<div class="col-lg-6 hidden-xs-down hidden-md-down">
					<h3 class="motor_banner_h3">Get Covarage Of 5 Lacs For<br/><span>Motor At Just Rs.11/day</span></h3>
					<h4 class="motor_banner_h4">Super Topup</h4>
					<p class="motor_banner_p">Upgrade your existing policy cover by Rs. 10 Lakhs<br/> for premium as low as Rs. 878!</p>
				</div>
				<div class="wrap-contact100 col-md-6  col-xs-12 no-float pull-right" id="personal-detail">
					<div class="carousel-caption col-md-12  col-xs-12 no-float">
						<p class="slide-nav  pull-left" (click)="myCarousel.prev()"><i class="fa fa-long-arrow-left"></i> <span class="question">Car Registration & Location</span></p>
						<h3>Just continue to view quotes</h3>
					</div>
					<div class="col-md-12 col-xs-12 ">
						<div class="wrap-input100 col-md-5 col-sm-12 input100-select  no-padding validate-input" > <span class="label-input100 pull-left">Enter Your Mobile Number</span>
							
							<span *ngIf="(quoteSubmitted || f.custPhone.touched) && f.custPhone.errors" class="invalid-feedback">
								<span *ngIf="f.custPhone.errors.required" class="pull-left input-group formerror-msg">Enter Your Mobile Number.</span>
								<span *ngIf="f.custPhone.errors.pattern" class="pull-left input-group formerror-msg">Enter Valid Mobile Number.</span>
							</span>
							
							<input class="select-mobile input100" type="text" formControlName="custPhone" autocomplete="off" placeholder="Your 10 Digit Mobile Number" maxlength="10">
							
							
						</div>
						<div class="wrap-input100 col-md-6 col-sm-12 input100-select no-padding validate-input" > <span class="label-input100 pull-left">Enter Your Email Id</span>
						
							<span *ngIf="(quoteSubmitted || f.custEmail.touched) && f.custEmail.errors" class="invalid-feedback">
								<span *ngIf="f.custEmail.errors.required" class="pull-left input-group formerror-msg">Enter Your Email ID.</span>
								<span *ngIf="f.custEmail.errors.pattern" class="pull-left input-group formerror-msg">Enter Valid Email ID.</span>
							</span>
							
							<input class="select-mobile input100" type="email" formControlName="custEmail" autocomplete="off" placeholder="abc@gmail.com">
							
						</div>
						<div class="wrap-input100 col-md-6 rs1-wrap-input100 validate-input" [ngStyle]="{'display':isRenewal==false ? 'none' : '' }">
							<span class="label-input100 pull-left">Select Policy Expiry Date</span>
							<span *ngIf="(quoteSubmitted || f.policyExpiryDate.touched) && f.policyExpiryDate.errors" class="invalid-feedback">
								<span *ngIf="f.policyExpiryDate.errors.required" class="pull-left input-group formerror-msg">Select Policy Expiry Date</span>
							</span>
							
							<input [minDate]="currDate" type="text" class="select-mobile input100" formControlName="policyExpiryDate" placeholder="Policy Expiry Date" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"/>
						</div>
						<div class="wrap-input100 col-md-6 rs1-wrap-input100 validate-input" [ngStyle]="{'display':isRenewal==false ? 'none' : '' }" style="float: right !important;">
							
							<span class="label-input100 pull-left" >Last claim taken</span>
							<span *ngIf="(quoteSubmitted || f.lastClaimedYear.touched) && f.lastClaimedYear.errors" class="invalid-feedback">
								<span *ngIf="f.lastClaimedYear.errors.required" class="pull-left input-group formerror-msg">Select Last claimed Year</span>
							</span>
							
							<select class="custom-select no-padding" id="dob_yy" formControlName="lastClaimedYear">
								<option value="0">Never</option>
								<option>2019</option>
								<option>2018</option>
							</select>
						</div>
					</div>
					<div class="col-md-12 text-center pull-left">
						<div class="container-contact100-form-btn">
							<div id="registration-loader" style="text-align: center;display:none;"><img style="width: 337px;height: 81px;" src="assets/quote/images/load.gif"></div>
							<button class="contact100-form-btn" id="create_quote_btn" > <span onClick="#car-detail">Continue to View Quotes <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i> </span> </button>
						</div>
					</div>
				</div>
			</ng-template>
		</ngb-carousel>
	</div>
</form>

<footer class="footer" id="footer_area" *ngIf="!isMobile">
	<div class="footer_bottom">
		<div class="container">
			<p class="text_btnftr"> ©Copyright 2014 - till now| <a href="https://www.gibl.in" style="color: rgb(108, 108, 108) ! important;
				text-decoration: underline;">www.gibl.in</a> | All Rights Reserved | Insurance
				is the subject matter of solicitation.<br>
				IRDA License Code No : DB 482/10 Dated 27-05-2016 valid till 26-05-2019, Direct(Non-Life)
				| Principal Officer : Mr. Sahid Ali | Ph: 033 - 66074257<br>
			</p>
			<p class="text_btnftr_new"> Regd. &amp; Corp. Office : GreenLife Insurance Broking Pvt. Ltd., A-4/B, 1st Floor, Rishi Tech Park, Near Unitech, New Town, Kolkata-700156, West Bengal, India </p>
			<p class="text_btnftr_new"> Designed &amp; Developed By : e-Celtic </p>
		</div>
	</div>
</footer>

